@import './header';
@import './hero';
@import './type-link';
@import './link-result';
@import './info';
@import './boost-link';
@import './footer';
@import './responsive';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    text-rendering: optimizeLegibility;
    font-size: 18px;
 font-family: 'Poppins', sans-serif;
 overflow-x: hidden;
}